<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-nav-list>

      <div class="sidebar">
        <button mat-button (click)="doFilter('all', $event)" id="all">All</button>
        <button mat-button (click)="doFilter('jwellery', $event)" id="jwell">Jewellery</button>
        <button mat-button (click)="doFilter('Saree', $event)" id="nighty">Saree</button>
        <button mat-button (click)="doFilter('Sudi', $event)" id="saree">Sudi</button>
        <button mat-button (click)="doFilter('Nighty', $event)" id="sudi">Nighty</button>
        <button mat-button (click)="doFilter('kids', $event)" id="clear">Kids</button>
      </div>

  </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container responsive-grid">
      <mat-card *ngFor="let item of filteredList" class="product-card" routerLink="home">
        <ng-container *ngIf="item.mediaType === 'image'; else videoTemplate">
          <img [src]="item.imageUrl" alt="{{ item.title }}" class="card-img-top" (click)="router.navigateByUrl('/product/' + item?.id)" />
        </ng-container>
        
        <ng-template #videoTemplate>
          <video autoplay muted loop class="card-img-top">
            <source [src]="item.imageUrl" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </ng-template>
      
        <mat-card-header>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle *ngIf="item.price">Rate: {{ item.price }} /-</mat-card-subtitle>
          <mat-card-subtitle *ngIf="item.shipping">Free shipping</mat-card-subtitle>
        </mat-card-header>
      
        <mat-card-content>
          <button (click)="addToCart(item)" class="btn btn-success">Add to Cart</button>
          <button (click)="redirectToGoogleForm()" class="btn btn-success">Buy Now</button>

        </mat-card-content>
      </mat-card>
      
    </div>
    </mat-sidenav-content>


</mat-sidenav-container>
